# Pythonキャッシュ
*.pyc

# データは容量が大きすぎので除外
data/**/*.pickle
data/*.pickle
data/**/*.pickle.bak
data/*.pickle.bak
data/**/*.csv
data/**/**/*.bin
models/**/*.pickle
*.pickle
.DS_Store
playground.ipynb

# 実行結果を除外
output/**/*.md
output/**/*.png

